<section class="speciality">
    <div class="container">
        <div class="speciality-heading">
            <h2>Top Secialityies</h2>
            <p><span>Consult Doctos Online from the hospital networks</span> <a routerLink="/specialities">See More</a>
            </p>
        </div>
        <div class="speciality-body">
            <owl-carousel-o [options]="specialitySlider">
                <ng-template carouselSlide>
                    <div class="speciality-item">
                        <div class="speciality-thumbnail">
                            <img src="./../../../../assets/images/specialities-image-1.jpg" alt="" loading="lazy">
                        </div>
                        <div class="speciality-description">
                            <h4>General Physicial</h4>
                            <p>Fever, Stomach Issue, Vomiting, Cough, Headache/Migrane</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="speciality-item">
                        <div class="speciality-thumbnail">
                            <img src="./../../../../assets/images/specialities-image-2.jpg" alt="" loading="lazy">
                        </div>
                        <div class="speciality-description">
                            <h4>Dermatologist</h4>
                            <p>Acne, Hair Fall, Dark Circles</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="speciality-item">
                        <div class="speciality-thumbnail">
                            <img src="./../../../../assets/images/specialities-image-3.jpg" alt="" loading="lazy">
                        </div>
                        <div class="speciality-description">
                            <h4>Gynecologist</h4>
                            <p>PCOD, Period Issues, UTI, Preganacy Care, Abdominal Pain</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="speciality-item">
                        <div class="speciality-thumbnail">
                            <img src="./../../../../assets/images/specialities-image-4.jpg" alt="" loading="lazy">
                        </div>
                        <div class="speciality-description">
                            <h4>Dietitian</h4>
                            <p>PCOD, Weight Loos, Weight Gain, Diabetes, High BP</p>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</section>
