<section class="banner">
  <div class="container">
      <owl-carousel-o [options]="bannerSlider">
          <ng-template carouselSlide>
              <div class="banner-content">
                  <h4>Diagnosis</h4>
                  <h2>Improving the Quality Your Life at Home</h2>
                  <p>Small river naed Duden flows by their place ad supplies it with the necessary regelialia It is a
                      paradisematic coutry, in which roaste parts of sentensces fly into yur mouth.</p>

                  <a routerLink="/health-package">Read More</a>
              </div>
          </ng-template>
          <ng-template carouselSlide>
              <div class="banner-content">
                  <h4>Diagnosis</h4>
                  <h2>Improving the Quality Your Life at Home</h2>
                  <p>Small river naed Duden flows by their place ad supplies it with the necessary regelialia It is a
                      paradisematic coutry, in which roaste parts of sentensces fly into yur mouth.</p>

                  <a routerLink="/health-package">Read More</a>
              </div>
          </ng-template>
          <ng-template carouselSlide>
              <div class="banner-content">
                  <h4>Diagnosis</h4>
                  <h2>Improving the Quality Your Life at Home</h2>
                  <p>Small river naed Duden flows by their place ad supplies it with the necessary regelialia It is a
                      paradisematic coutry, in which roaste parts of sentensces fly into yur mouth.</p>

                  <a routerLink="/health-package">Read More</a>
              </div>
          </ng-template>
      </owl-carousel-o>

      <app-quicksearch></app-quicksearch>
  </div>
</section>
