<header class="header">
  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-3">
              <div class="header-logo">
                  <a routerLink="/">
                      <img src="{{logoImage}}" alt="Header logo" loading="lazy">
                  </a>
              </div>
          </div>
          <div class="col-sm-9">
              <div class="header-contact-list">
                  <div class="contact-list-items">
                      <ul>
                          <li><i class="fa fa-phone"></i> +977-01-5555555</li>
                          <li><i class="fa fa-envelope"></i> codewithbinod@gmail.com</li>
                          <li><i class="fa fa-map-marker"></i> Lalitpur, Nepal</li>
                      </ul>
                  </div>
                  <div class="social-icons-itemt">
                      <ul>
                          <li>
                              <a href="#">
                                  <i class="fa fa-facebook"></i>
                              </a>
                              <a href="#">
                                  <i class="fa fa-twitter"></i>
                              </a>
                              <a href="#">
                                  <i class="fa fa-instagram"></i>
                              </a>
                              <a href="#">
                                  <i class="fa fa-linkedin"></i>
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="header-nav">
                  <nav>
                      <ul>
                          <li>
                              <a routerLink="/home" routerLinkActive="active"><i class="fa fa-home"></i> Home</a>
                          </li>
                          <li>
                              <a routerLink="/consultation" routerLinkActive="active"><i class="fa fa-phone"></i>
                                  Consultation</a>
                          </li>
                          <li>
                              <a routerLink="/specialities" routerLinkActive="active"><i class="fa fa-user-md"></i>
                                  Specialities</a>
                          </li>
                          <li>
                              <a routerLink="/health-package" routerLinkActive="active"><i class="fa fa-medkit"></i>
                                  Health Package</a>
                          </li>
                          <li>
                              <a routerLink="/book-an-appointment" routerLinkActive="active"><i
                                      class="fa fa-calendar"></i> Book An Appointment</a>
                          </li>
                      </ul>
                  </nav>
                  <div class="login-register">
                      <ul>
                          <li>
                              <a routerLink="/login">Login</a>
                          </li>
                          <li>
                              <a routerLink="/signup">Register</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>
