<section class="quick-links">
  <div class="container">
      <ul class="row">
          <li class="col-md-3 col-sm-6">
              <a routerLink="/">Book An Appointment</a>
          </li>
          <li class="col-md-3 col-sm-6">
              <a routerLink="/">Consult Online</a>
          </li>
          <li class="col-md-3 col-sm-6">
              <a routerLink="/">Book Lab Test</a>
          </li>
          <li class="col-md-3 col-sm-6">
              <a routerLink="/">Ask a Question</a>
          </li>
      </ul>
  </div>
</section>