<section class="featurelinks">
    <div class="container">
        <ul class="row">
            <li class="col-sm-6">
                <a routerLink="/">
                    <span class="feature-link-content">
                        <span class="feature-icon">
                            <i class="fa fa-bicycle"></i>
                        </span>
                        <span class="feature-title">
                            <h4>Get Medicine Online</h4>
                            <p>Deliverd on same day</p>
                        </span>
                    </span>
                </a>
            </li>
            <li class="col-sm-6">
                <a routerLink="/">
                    <span class="feature-link-content">
                        <span class="feature-icon">
                            <i class="fa fa-list"></i>
                        </span>
                        <span class="feature-title">
                            <h4>Save Your Health</h4>
                            <p>Record Online</p>
                        </span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>
