<section class="registration">
    <div class="container">
        <div class="registration-content">
            <h2>
                <span>Are you a Doctor?</span>
                Be the part of big change in the Health Sector
            </h2>
            <ul>
                <li>
                    <a routerLink="/">Learn More</a>
                </li>
                <li>Or</li>
                <li>
                    <a routerLink="/">Register</a>
                </li>
            </ul>
        </div>
    </div>
</section>
