.healthpakages {
    padding: 25px 0;
    background: #fff;
}

.healthpakages-heading {
    margin-bottom: 30px;
}

.healthpakages-heading h2 {
    color: #001737;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.healthpakages-heading p {
    position: relative;
    color: #7d7b7b;
    font-size: 18px;
}

.healthpakages-heading a {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    background: #4c87c1;
    text-decoration: none;
    transition: all linear 0.3s;
}

.healthpakages-heading a:hover {
    background: #37348d;
}

.healthpakages-item {
    margin: 0 15px;
}

.healthpakages-thumbnail {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.healthpakages-thumbnail img {
    width: 100%;
    height: auto;
    transition: all linear 0.3s;
}

.healthpakages-item:hover .healthpakages-thumbnail img {
    transform: scale(1.2, 1.2);
}

.healthpakages-description h4 {
    color: #222;
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
}

.healthpackages-cost {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 1px 30px 30px #fff;
}

.healthpackages-cost.package-1 {
    background: #4b87c1;
}

.healthpackages-cost.package-2 {
    background: #ff00ff;
}

.healthpackages-cost.package-3 {
    background: #27beaa;
}

.healthpackages-cost.package-4 {
    background: #fe7874;
}

.healthpackages-cost span {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

@media (max-width: 767px) {
    .healthpakages-heading h2 {
        font-size: 20px;
    }

    .healthpakages-heading p span {
        display: block;
        font-size: 14px;
    }

    .healthpakages-heading p a {
        position: relative;
        top: inherit;
        right: inherit;
        margin-top: 10px;
    }

    .healthpakages-item {
        margin-bottom: 15px;
    }

    .healthpakages-description h4 {
        font-size: 16px;
    }
}